<a href="https://colab.research.google.com/github/AJ-Horch/gla_population/blob/main/GLA_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import plotly.express as px
import ipywidgets as widgets
from IPython.display import display

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [30]:
persons = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/persons_gla_pop_proj_2020_identified_capacity_scenario.csv"
males = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/males_gla_pop_proj_2020_identified_capacity_scenario.csv"
females = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/females_gla_pop_proj_2020_identified_capacity_scenario.csv"
components = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/components_gla_pop_proj_2020_identified_capacity_scenario.csv"
development = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/assumed_development_gla_pop_proj_2020_identified_capacity_scenario.csv"
houseing_stock = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/housing_development_gla_pop_proj_2020_identified_capacity_scenario.csv"

persons = pd.read_csv(persons)
males = pd.read_csv(males)
females = pd.read_csv(females)
components = pd.read_csv(components)
houseing_stock = pd.read_csv(houseing_stock)
assued_development = pd.read_csv(development)

### Cleaning data

In [25]:
assued_development.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 44 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   gss_code     34 non-null     object
 1   borough      34 non-null     object
 2   2012         34 non-null     int64
 3   2013         34 non-null     int64
 4   2014         34 non-null     int64
 5   2015         34 non-null     int64
 6   2016         34 non-null     int64
 7   2017         34 non-null     int64
 8   2018         34 non-null     int64
 9   2019         34 non-null     int64
 10  2020         34 non-null     int64
 11  2021         34 non-null     int64
 12  2022         34 non-null     int64
 13  2023         34 non-null     int64
 14  2024         34 non-null     int64
 15  2025         34 non-null     int64
 16  2026         34 non-null     int64
 17  2027         34 non-null     int64
 18  2028         34 non-null     int64
 19  2029         34 non-null     int64
 20  2030         34 non-null     int64
 21  2031         34 non-null     int64
 22  2032         34 non-null     int64
 23  2033         34 non-null     int64
 24  2034         34 non-null     int64
 25  2035         34 non-null     int64
 26  2036         34 non-null     int64
 27  2037         34 non-null     int64
 28  2038         34 non-null     int64
 29  2039         34 non-null     int64
 30  2040         34 non-null     int64
 31  2041         34 non-null     int64
 32  Unnamed: 32  0 non-null      float64
 33  Unnamed: 33  0 non-null      float64
 34  Unnamed: 34  0 non-null      float64
 35  Unnamed: 35  0 non-null      float64
 36  Unnamed: 36  0 non-null      float64
 37  Unnamed: 37  0 non-null      float64
 38  Unnamed: 38  0 non-null      float64
 39  Unnamed: 39  0 non-null      float64
 40  Unnamed: 40  0 non-null      float64
 41  Unnamed: 41  0 non-null      float64
 42  Unnamed: 42  0 non-null      float64
 43  Unnamed: 43  0 non-null      float64
dtypes: float64(12), int64(30), object(2)
memory usage: 11.8+ KB

In [31]:
persons = persons.drop(columns={'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
                                        'Unnamed: 41', 'Unnamed: 43', 'Unnamed: 42'})
males = males.drop(columns={'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
                                        'Unnamed: 41', 'Unnamed: 43', 'Unnamed: 42'})
females = females.drop(columns={'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37', 'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40',
                                        'Unnamed: 41', 'Unnamed: 43', 'Unnamed: 42'})
components = components.drop(columns={'Unnamed: 14', 'Unnamed: 15', 'Unnamed: 16', 'Unnamed: 17',
                            'Unnamed: 18','Unnamed: 19','Unnamed: 20','Unnamed: 21',
                            'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25',
                            'Unnamed: 26','Unnamed: 27','Unnamed: 28','Unnamed: 29',
                            'Unnamed: 30','Unnamed: 31','Unnamed: 32','Unnamed: 33',
                            'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
                            'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40','Unnamed: 41',
                            'Unnamed: 43', 'Unnamed: 42'})
houseing_stock = houseing_stock.drop(columns={'Unnamed: 33',
                            'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
                            'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40','Unnamed: 41',
                            'Unnamed: 43', 'Unnamed: 42'})
assued_development = assued_development.drop(columns={'Unnamed: 32','Unnamed: 33',
                            'Unnamed: 34', 'Unnamed: 35', 'Unnamed: 36', 'Unnamed: 37',
                            'Unnamed: 38', 'Unnamed: 39', 'Unnamed: 40','Unnamed: 41',
                            'Unnamed: 43', 'Unnamed: 42'})