<a href="https://colab.research.google.com/github/AJ-Horch/gla_population/blob/main/GLA_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [55]:
import pandas as pd
import plotly.express as px
import ipywidgets as widgets
from IPython.display import display

In [56]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [57]:
persons = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/persons_gla_pop_proj_2020_identified_capacity_scenario.csv"
males = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/males_gla_pop_proj_2020_identified_capacity_scenario.csv"
females = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/females_gla_pop_proj_2020_identified_capacity_scenario.csv"
components = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/components_gla_pop_proj_2020_identified_capacity_scenario.csv"
development = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/assumed_development_gla_pop_proj_2020_identified_capacity_scenario.csv"
houseing_stock = "https://raw.githubusercontent.com/AJ-Horch/gla_population/refs/heads/main/housing_development_gla_pop_proj_2020_identified_capacity_scenario.csv"

persons = pd.read_csv(persons)
males = pd.read_csv(males)
females = pd.read_csv(females)
components = pd.read_csv(components)
houseing_stock = pd.read_csv(houseing_stock)
assumed_development = pd.read_csv(development)

### Cleaning data

In [58]:
persons = persons.drop(columns=[col for col in persons.columns if "Unnamed" in col])
males = males.drop(columns=[col for col in males.columns if "Unnamed" in col])
females = females.drop(columns=[col for col in females.columns if "Unnamed" in col])
components = components.drop(columns=[col for col in components.columns if "Unnamed" in col])
houseing_stock = houseing_stock.drop(columns=[col for col in houseing_stock.columns if "Unnamed" in col])
assumed_development = assumed_development.drop(columns=[col for col in assumed_development.columns if "Unnamed" in col])

In [59]:
persons.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3094 entries, 0 to 3093
Data columns (total 35 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   gss_code  3094 non-null   object
 1   borough   3094 non-null   object
 2   sex       3094 non-null   object
 3   age       3094 non-null   int64
 4   2011      3094 non-null   int64
 5   2012      3094 non-null   int64
 6   2013      3094 non-null   int64
 7   2014      3094 non-null   int64
 8   2015      3094 non-null   int64
 9   2016      3094 non-null   int64
 10  2017      3094 non-null   int64
 11  2018      3094 non-null   int64
 12  2019      3094 non-null   int64
 13  2020      3094 non-null   int64
 14  2021      3094 non-null   int64
 15  2022      3094 non-null   int64
 16  2023      3094 non-null   int64
 17  2024      3094 non-null   int64
 18  2025      3094 non-null   int64
 19  2026      3094 non-null   int64
 20  2027      3094 non-null   int64
 21  2028      3094 non-null   int64
 22  2029      3094 non-null   int64
 23  2030      3094 non-null   int64
 24  2031      3094 non-null   int64
 25  2032      3094 non-null   int64
 26  2033      3094 non-null   int64
 27  2034      3094 non-null   int64
 28  2035      3094 non-null   int64
 29  2036      3094 non-null   int64
 30  2037      3094 non-null   int64
 31  2038      3094 non-null   int64
 32  2039      3094 non-null   int64
 33  2040      3094 non-null   int64
 34  2041      3094 non-null   int64
dtypes: int64(32), object(3)
memory usage: 846.1+ KB

In [60]:
males.head()

,gss_code,borough,sex,age,2011,2012,2013,2014,2015,2016,...,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041
0,E12000007,London (total),male,0,69426,66931,64995,63525,63141,64279,...,56304,56943,57642,58368,59069,59736,60363,60914,61319,61591
1,E12000007,London (total),male,1,64277,65685,65250,62730,61628,60682,...,54020,54550,55154,55772,56425,57065,57682,58268,58792,59177
2,E12000007,London (total),male,2,61261,62949,63855,63102,60641,59118,...,52068,52505,53007,53539,54093,54691,55285,55864,56423,56925
3,E12000007,London (total),male,3,60985,59993,61494,62478,60959,57969,...,50379,50744,51160,51602,52081,52590,53149,53710,54266,54805
4,E12000007,London (total),male,4,57138,59943,58860,60835,61131,59227,...,49253,49480,49827,50193,50592,51035,51512,52043,52584,53121

In [61]:
females.head()

,gss_code,borough,sex,age,2011,2012,2013,2014,2015,2016,...,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041
0,E12000007,London (total),female,0,65755,63743,61847,60294,60377,61065,...,53589,54198,54864,55557,56226,56861,57459,57984,58369,58629
1,E12000007,London (total),female,1,61358,62277,62060,59942,58204,57834,...,51430,51936,52514,53103,53727,54339,54928,55488,55988,56356
2,E12000007,London (total),female,2,59076,60083,60517,60086,57871,56002,...,49597,50017,50497,51008,51537,52110,52679,53232,53767,54247
3,E12000007,London (total),female,3,58483,57880,58525,59174,58169,55444,...,47974,48324,48722,49145,49604,50091,50626,51163,51694,52209
4,E12000007,London (total),female,4,54473,57605,56672,57924,58046,56628,...,46841,47058,47392,47743,48125,48549,49006,49514,50032,50546

## Testing melt

In [70]:
melted_females = females.melt(['gss_code', 'borough'], var_name='year_type', value_name='value')

In [71]:
melted_females.head()

    gss_code         borough year_type   value
0  E12000007  London (total)       sex  female
1  E12000007  London (total)       sex  female
2  E12000007  London (total)       sex  female
3  E12000007  London (total)       sex  female
4  E12000007  London (total)       sex  female

In [69]:
components.head(15)

,gss code,borough,year,population,births,deaths,int in,int out,int net,dom in,dom out,dom net,adjustment,total change
0,E12000007,London (total),2011,8204407,133440,46929,224007,120990,103017,NaN,NaN,-40352,-6272,142904
1,E12000007,London (total),2012,8308833,134037,47572,202399,133218,69181,NaN,NaN,-51698,437,104385
2,E12000007,London (total),2013,8417460,131011,48078,175966,96147,79819,NaN,NaN,-55027,902,108627
3,E12000007,London (total),2014,8539398,127807,45449,205688,98281,107407,NaN,NaN,-68634,809,121940
4,E12000007,London (total),2015,8666930,128520,50151,217656,91266,126390,NaN,NaN,-77534,307,127532
5,E12000007,London (total),2016,8769659,129847,48513,213026,98801,114225,NaN,NaN,-93302,472,102729
6,E12000007,London (total),2017,8825001,127359,48836,193503,110015,83488,NaN,NaN,-106608,-61,55342
7,E12000007,London (total),2018,8908081,123594,50420,206201,93408,112793,NaN,NaN,-103230,343,83080
8,E12000007,London (total),2019,8961989,119086,48560,196841,119432,77409,NaN,NaN,-93992,-36,53907
9,E12000007,London (total),2020,9002488,115735,58812,205073,120528,84545,NaN,NaN,-101381,412,40499
10,E12000007,London (total),2021,8915981,110975,59337,64000,73000,-9000,NaN,NaN,-129145,0,-86508
11,E12000007,London (total),2022,9008268,107550,48829,149623,79623,70000,NaN,NaN,-36434,0,92287
12,E12000007,London (total),2023,9083272,107646,49616,167785,89288,78497,NaN,NaN,-61522,0,75004
13,E12000007,London (total),2024,9143920,107821,50350,185946,98953,86994,NaN,NaN,-83817,0,60648
14,E12000007,London (total),2025,9193235,107810,51077,204108,108618,95491,NaN,NaN,-102910,0,49314

In [63]:
houseing_stock.head()

,gss_code,borough,2011,2012,2013,2014,2015,2016,2017,2018,...,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041
0,E12000007,London (total),3363736,3393435,3415676,3439806,3468665,3502740,3542651,3573737,...,4206084,4244865,4283646,4306200,4328754,4351308,4373863,4396417,4418971,4441525
1,E09000001,City of London,5513,5531,5575,6021,6241,6308,6320,6471,...,8360,8486,8612,8698,8785,8872,8958,9045,9131,9218
2,E09000002,Barking and Dagenham,71220,71590,71627,72627,73580,74320,74777,75154,...,102674,105675,108676,110828,112980,115132,117285,119437,121589,123741
3,E09000003,Barnet,139481,141551,142065,142430,144453,146426,148831,151206,...,179808,181178,182549,183205,183862,184519,185176,185832,186489,187146
4,E09000004,Bexley,95061,95378,95374,95910,96810,97662,98182,98515,...,107972,108757,109541,110175,110809,111443,112077,112711,113345,113979

In [64]:
assumed_development.head()

,gss_code,borough,2012,2013,2014,2015,2016,2017,2018,2019,...,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041
0,E12000007,London (total),29699,22241,24130,28859,34075,39911,31086,38488,...,38781,38781,38781,22554,22554,22554,22554,22554,22554,22554
1,E09000001,City of London,18,44,446,220,67,12,151,351,...,126,126,126,87,87,87,87,87,87,87
2,E09000002,Barking and Dagenham,370,37,1000,953,740,457,377,869,...,3001,3001,3001,2152,2152,2152,2152,2152,2152,2152
3,E09000003,Barnet,2070,514,365,2023,1973,2405,2375,2336,...,1370,1370,1370,657,657,657,657,657,657,657
4,E09000004,Bexley,317,-4,536,900,852,520,333,717,...,784,784,784,634,634,634,634,634,634,634

In [65]:
## Rename columns
assumed_development = assumed_development.rename(
    columns={col: f"dev_{col}" for col in assumed_development if col not in ['gss_code','borough']}
    )
assumed_development.head()

,gss_code,borough,dev_2012,dev_2013,dev_2014,dev_2015,dev_2016,dev_2017,dev_2018,dev_2019,...,dev_2032,dev_2033,dev_2034,dev_2035,dev_2036,dev_2037,dev_2038,dev_2039,dev_2040,dev_2041
0,E12000007,London (total),29699,22241,24130,28859,34075,39911,31086,38488,...,38781,38781,38781,22554,22554,22554,22554,22554,22554,22554
1,E09000001,City of London,18,44,446,220,67,12,151,351,...,126,126,126,87,87,87,87,87,87,87
2,E09000002,Barking and Dagenham,370,37,1000,953,740,457,377,869,...,3001,3001,3001,2152,2152,2152,2152,2152,2152,2152
3,E09000003,Barnet,2070,514,365,2023,1973,2405,2375,2336,...,1370,1370,1370,657,657,657,657,657,657,657
4,E09000004,Bexley,317,-4,536,900,852,520,333,717,...,784,784,784,634,634,634,634,634,634,634

In [66]:
houseing_stock = houseing_stock.rename(
    columns={col: f"house_{col}" for col in houseing_stock if col not in ['gss_code','borough']}
    )
houseing_stock.head()

,gss_code,borough,house_2011,house_2012,house_2013,house_2014,house_2015,house_2016,house_2017,house_2018,...,house_2032,house_2033,house_2034,house_2035,house_2036,house_2037,house_2038,house_2039,house_2040,house_2041
0,E12000007,London (total),3363736,3393435,3415676,3439806,3468665,3502740,3542651,3573737,...,4206084,4244865,4283646,4306200,4328754,4351308,4373863,4396417,4418971,4441525
1,E09000001,City of London,5513,5531,5575,6021,6241,6308,6320,6471,...,8360,8486,8612,8698,8785,8872,8958,9045,9131,9218
2,E09000002,Barking and Dagenham,71220,71590,71627,72627,73580,74320,74777,75154,...,102674,105675,108676,110828,112980,115132,117285,119437,121589,123741
3,E09000003,Barnet,139481,141551,142065,142430,144453,146426,148831,151206,...,179808,181178,182549,183205,183862,184519,185176,185832,186489,187146
4,E09000004,Bexley,95061,95378,95374,95910,96810,97662,98182,98515,...,107972,108757,109541,110175,110809,111443,112077,112711,113345,113979

In [67]:
merged_dev_stock = pd.merge(assumed_development, houseing_stock,
                            on=['gss_code', 'borough'], how='inner')

In [68]:
merged_dev_stock.head()

,gss_code,borough,dev_2012,dev_2013,dev_2014,dev_2015,dev_2016,dev_2017,dev_2018,dev_2019,...,house_2032,house_2033,house_2034,house_2035,house_2036,house_2037,house_2038,house_2039,house_2040,house_2041
0,E12000007,London (total),29699,22241,24130,28859,34075,39911,31086,38488,...,4206084,4244865,4283646,4306200,4328754,4351308,4373863,4396417,4418971,4441525
1,E09000001,City of London,18,44,446,220,67,12,151,351,...,8360,8486,8612,8698,8785,8872,8958,9045,9131,9218
2,E09000002,Barking and Dagenham,370,37,1000,953,740,457,377,869,...,102674,105675,108676,110828,112980,115132,117285,119437,121589,123741
3,E09000003,Barnet,2070,514,365,2023,1973,2405,2375,2336,...,179808,181178,182549,183205,183862,184519,185176,185832,186489,187146
4,E09000004,Bexley,317,-4,536,900,852,520,333,717,...,107972,108757,109541,110175,110809,111443,112077,112711,113345,113979